* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #3b0677;
    color: rgb(11, 11, 11);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


nav {
    position: fixed;
    top: 20px;
    width: 100%;
    background-color: #650861;
    z-index: 1000;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.links {
    display: flex;
    gap: 20px;
}

.link a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 10px;
}

.link a:hover {
    background-color: #3fbf85;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.container {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    animation: slideIn 6s ease-out;

}

.logo {
    color: rgb(11, 11, 11);
    font-size: 2rem;
    font-weight: bold;
}

.logo span {
    color: #29ff77;
    text-shadow: 0 0 10px #29f875;
}

.profile-details {
    max-width: 600px;
    padding: 20px;
    background-color: #f4f4f4;
    box-shadow: 0px 4px 6px rgba(14, 204, 80, 0.1);
    border-radius: 10px;
    opacity: 0;
    animation: fadeIn 0s ease-in forwards;
}

.profile-image img {
    max-width: 90%;
    height: 600px;
    border-radius: 0px;
    margin-right: 0px;
}

.education-item {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.education-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 15px;
}

.status {
    color: rgb(129, 254, 129);
    font-weight: bold;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);

    }

    to {
        transform: translateX(0);

    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}